nav {
  background-color: #001858;
}

.navbar-brand {
  font-family: "Lugrasimo", cursive;
}

.jumbotron {
  padding-top: 6rem;
  background-color: #fef6e4;
}

#about {
  background-color: #f3d2c1;
}

.display-4 {
  font-family: "Ubuntu", sans-serif;
}

.lead {
  font-family: "Alegreya Sans SC", sans-serif;
}

#gallery {
  background-color: #fef6e4;
}

#contact {
  background-color: #f3d2c1;
}

.btn {
  color: #fef6e4;
  background-color: #001858;
}

.btn:hover {
  background-color: #fef6e4;
  color: #001858;
  box-shadow: 3px 3px 15px 15px #001858;
}

footer {
  background-color: #001858;
}

section {
  padding-top: 5rem;
}
